<form action="results">
  <label for="apr_id">APR</label>
  <input type="text" id="apr_id" name="apr"><br>

  <label for="years_id">Number of years</label>
  <input type="text" id="years_id" name="years"><br>

  <label for="principal_id">Principal</label>
  <input type="text" id="principal_id" name="principal"><br>
  <button>Calculate monthly payment</button>
</form>
