<form action="results">
  <label for="min_id">Minimum</label><br>
  <input type="text" id="min_id" name="minimum"><br>
  <label for="max_id">Maximum</label><br>
  <input type="text" id="max_id" name="maximum"><br>
  <button>Pick random number</button>
</form>
