<h1> Random Results </h1>
<div>
  <span> Minimum </span><br>
  &emsp;&emsp;<%=@minimum%><br>
  <span> Maximum </span><br>
  &emsp;&emsp;<%=@maximum%><br>
  <span> Random Number </span><br>
  &emsp;&emsp;<%=@random%><br>
</div>
